body{
    font-family: 'Montserrat';
}
h2{
    font-weight: 700;
}
p{
    font-weight: 500;
}
.container{
    margin:0 auto;
    width: 90%;
}
.flex{
    display:flex;
    flex-wrap: wrap;
}
.text-center{
    text-align: center;
}
.columna{
    background:rgb(233, 238, 238);
    color: #333;
    border: 1px solid #eee;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888;
    width: 23%;
    box-sizing: border-box;
}
.precio{
    font-size: 25px;
    color: rgb(25, 200, 212)
}
.btn-precio{
    background: #888;
    display: block;
    padding: 10px;
    color:rgb(228, 228, 138);
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: 10px;
}
.btn-precio:hover{
    background:rgb(25, 200, 212);
}
@media (max-width: 1070px){ 
    .columna{
        width: 45%;
        margin-bottom: 20px;
    }
}
@media (max-width: 600px){ 
    .columna{
        width: 100%;
        margin-bottom: 20px;
    }